.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Use viewport height to make it full screen */
  font-size: medium;
  font-family: 'Quattrocento Sans', sans-serif;
}
