.map-cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow interaction with elements behind this container */
}

/* CSS in your stylesheet */
.marker {
  background-color: #FF5733;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}


/* CSS in your stylesheet */
.popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
}


/* Add this style for the reset button */
.reset-button {
    background-color: #007BFF; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding around the text */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 4px; /* Add some border radius for rounded corners */
    margin-bottom: 10px; /* Add margin to separate it from other elements */
  }
  
  /* Style the button on hover */
  .reset-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
